<link href="{{ "/css/jquery-ui.structure.min.css" | prepend: site.baseurl }}" type="text/css" rel="stylesheet">
<link href="{{ "/css/jquery-ui.theme.min.css"     | prepend: site.baseurl }}" type="text/css" rel="stylesheet">
<link href="{{ "/css/jquery-ui.min.css"           | prepend: site.baseurl }}" type="text/css" rel="stylesheet">
<link href="{{ "/css/codemirror.css"              | prepend: site.baseurl }}" type="text/css" rel="stylesheet">
<style type="text/css">
  #runmain {
  float    : right;
  position : relative;
  z-index  : 1;
  }
  #loader {
  height         : 1.2em;
  vertical-align : middle;
  }
</style>
